@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: local('Inter'),
    url('../fonts/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Cardo';
  font-weight: 400;
  font-style: normal;
  src: local('Cardo'),
    url('../fonts/Cardo-Regular.woff2') format('woff2'),
    url('../fonts/Cardo-Regular.woff') format('woff');
  font-display: swap;
}