$accent: #fe3e57;
$default: #969AA0;
$title: #1B3764;
$bg: #1B3764;

%inter-400 {
  font-family: 'Inter';
  font-weight: 400;
}

%cardo-400 {
  font-family: 'Cardo';
  font-weight: 400;
}

%btn {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.57px;
  text-transform: capitalize;
  color: $title;
  padding: 18px 52px 19px;
  background-color: #FFCA42;
  border: 2px solid #FFCA42;
  transition: all 0.3s;

  &:hover {
    background-color: $title;
    color: #fff;
  }
}