.descriptions {
  padding: 126px 0;

  &__title {
    margin-bottom: 50px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    max-width: 297px;
    text-align: center;
  }

  &__item-img {
    margin: 0 auto;
    margin-bottom: 19px;
  }

  &__item-company {
    @extend %cardo-400;
    font-size: 24px;
    line-height: 29px;
    color: #1B3764;
    margin-bottom: 19px;
  }

  &__item-text {
    line-height: 28px;
    color: #969AA0;
  }
}


@media (max-width: 1240px) {
  .descriptions {
    &__items {
      flex-wrap: wrap;
    }

    & {
      &__item {
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .descriptions {
    padding: 80px 0;
  }

}

@media (max-width: 940px) {
  .descriptions {
    &__items {
      justify-content: space-around;
    }
  }
}

@media (max-width: 720px) {
  .descriptions {
    padding: 60px 0;
  }
}

@media (max-width: 460px) {
  .descriptions {
    padding: 40px 0;
  }
}