.order {
  padding: 70px 0;
  background-color: $title;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 539px;
  }

  &__content-title {
    color: #fff;
    text-align: left;
    margin-bottom: 27px;

    &::before {
      margin: 0;
    }
  }

  &__content-text {
    line-height: 28px;
    color: #B4C7E7;
    margin-bottom: 27px;
  }

  &__content-link {
    @extend %btn;
    background-color: $title;
    color: #fff;

    &:hover {
      background-color: #FFCA42;
      color: $title;
    }
  }


}

@media (max-width: 1085px) {
  .order {
    &__content {
      max-width: 450px;
    }

    &__img {
      max-width: 50%;
    }
  }
}

@media (max-width: 820px) {
  .order {
    &__inner {
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
    }

    &__content {
      max-width: none;
      margin-bottom: 30px;
    }

    &__img {
      max-width: 100%;
    }
  }
}

@media (max-width: 520px) {
  .order {
   
    &__img {
      display: none;
    }
  }
}