.training {
  padding: 140px 0;

  &__title {
    margin-bottom: 60px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  &__content-item {
    max-width: 303px;
    padding: 30px;
    background-color: #F4F8FF;
  }

  &__content-num {
    display: inline-block;
    @extend %cardo-400;
    font-size: 23px;
    line-height: 29px;
    color: #1B3764;
    padding: 10px 13px 11px;
    background-color: #FFCA42;
    border-radius: 50%;
    margin-bottom: 32px;
  }

  &__content-text {
    @extend %cardo-400;
    font-size: 24px;
    line-height: 34px;
    color: #1B3764;
    letter-spacing: 1px;
  }
}

@media (max-width: 1200px) {
  .training {
    padding: 100px 0;

    &__content-item {
      padding: 20px;
    }

    &__content-img {
      max-width: 50%;
    }
  }

}

@media (max-width: 1085px) {
  .training {
    &__content-text {
      font-size: 20px;
      line-height: 24px;
    }

    &__content-num {
      margin-bottom: 20px;
    }
  }

}

@media (max-width: 920px) {

  .training {
    &__content {
      justify-content: space-around;
    }

    &__content-img {
      display: none;
    }
  }

}

@media (max-width: 720px) {
  .training {
    padding: 90px 0 100px;
  }
}

@media (max-width: 630px) {
  .training {
    &__content-items {
      justify-content: space-between;
      grid-gap: 15px;
    }
  }
}

@media (max-width: 520px) {
  .training {
    &__content-items {
      grid-template-columns: repeat(1, 1fr);

    }

    &__content-item {
      max-width: none;

    }
  }
}